
<p>
  <b>Nazwa:</b>
  <%= @task.name %>
</p>

<p>
  <b>Użytkownik:</b>
  <%= @person.email %>
</p>

<p>
  <b>Czas trwania:</b>
  <%= @task.duration %>h
</p>

<p>
  <b>Opis:</b>
  <%= @task.description %>
</p>

<p>
  <b>Priorytet:</b>
  <%= @priority[@task.priority] %>
</p>

<p>
  <b>Status zadania:</b>
  <%= @status[@task.status] %>
</p>
    
<p>
  <b>Początek:</b>
  <%= @task.start_at.strftime('%Y-%m-%d %H:%M')  %>
  <%=  %>
</p>

<p>
  <b>Koniec:</b>
  <%= @task.end_at.strftime('%Y-%m-%d %H:%M') %>
</p>

<%= link_to 'Edytuj', edit_task_path(@task) %> |
<%= link_to 'Usuń', @task, confirm: 'Jesteś pewien?', method: :delete %> |
<%= link_to 'Wróć', tasks_path %> |
<%= link_to 'WTD', @task, method: :wtd_post %>
