<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "application", :media => "all" %>
<link href="/stylesheets/event_calendar.css" media="all" rel="stylesheet" type="text/css" />
<%= javascript_include_tag "application" %>
<script src="/javascripts/event_calendar.js" type="text/javascript"></script>
<title>WhaToDo</title>
<%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="page_name">
    <a href="/">WhaToDo!</a>
  </div>
  <div id="person_nav">
    <%if person_signed_in?%>
      Jesteś zalogowany jako: <%= current_person.email %>
      <%= link_to "Wyloguj", destroy_person_session_path, :method => :delete %>
    <%else %>
      <%= link_to "Rejestracja", new_person_registration_path %> albo <%= link_to "Logowanie", new_person_session_path %>
    <%end %>
  </div>
  <div id="informations">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>
</div>

<div id="mainFrame" >
  <%= yield %>
</div>

<div id="footer">
Copyright 2012 by Marta Drabarczyk, Krzysztof Kutt, Michał Nowak.
</div>

</body>
</html>
