<!DOCTYPE html>
<html>
<head>
  
<link rel='stylesheet' type='text/css' href='assets/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='assets/fullcalendar.print.css' media="print" />
<script type='text/javascript' src='assets/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='assets/jquery-ui-1.8.17.custom.min.js'></script>
<script type='text/javascript' src='assets/fullcalendar.min.js'></script>
  <title>WhaToDo</title>

  <%= csrf_meta_tags %>
<script type='text/javascript'>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					title: 'Long Event',
					start: new Date(y, m, d-5),
					end: new Date(y, m, d-2)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/'
				}
			]
		});
		
	});

</script>
<style type='text/css'>

	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>

</head>
<body>

  
 
  
  <div id="person_nav">
    <%if person_signed_in?%>
      Jesteś zalogowany jako: <%= current_person.email %>
      Wyloguj <%= link_to "Sign out", destroy_person_session_path, :method => :delete %>
    <%else %>
     <%= link_to "Sign up", new_person_registration_path %> albo <%= link_to  "Sign in", new_person_session_path %>
    <%end %>
  </div>
  
  <p>To będzie nasze głowne WhaToDo!</p>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


 <div id='calendar'></div>

</body>
</html>
